.mainContainer{
    background-color: white;
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 100px;
}

.leftWrapper {
    position: fixed;
    height: 100dvh;
    width: 200px;
    flex-grow: 1;
    border-right: 1px solid gainsboro;
}

.rightWrapper {
    margin-left: 200px;
    height: 100dvh;
    width: 800px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.contentArea{
    width: 500px;
    border-right: 1px solid gainsboro;
}

.asideBar {
    width: 300px;
}

.logoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}