.mainContainer{
    display: flex;
    width: 1000px;
}

.leftWrapper {
    position: fixed;
    height: 100dvh;
    width: 200px;
    flex-grow: 1;
    border-right: 1px solid gainsboro;
    // background-color: white;
}

.rightWrapper {
    margin-left: 200px;
    height: 100dvh;
    width: 800px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.contentArea{
    width: 700px;
}

.asideBar {
    width: 350px;
}

.logoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}