.container{
 display: flex;
 flex-direction: column;
}

.postBtn{
border-radius: 20px;
margin: 10px;
border: none;
height: 40px;
cursor: pointer;
}



.wrapper{
    padding: 15px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    overflow: hidden;
    flex: 1;
}

.active {
    font-weight: 700;
}

.li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    
    
    &:hover{
        background-color: #F2F2F2;
    }
}

    .logoutBtn{
        position: fixed;
        bottom: 20px;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
    
        & > div{
            text-align: left;
        } 
    
        & > div :first-child{
            font-size: 15px;
            font-weight: 700;
        }
    
        & > div :last-child{
            font-size: 12px;
        }
    }
