.sectionDevider{
    display: flex;
}

.sideBarSection{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100dvh;
    box-shadow: 6px 2px 15px -4px #000000;
    -webkit-box-shadow: 6px 2px 15px -4px #000000; 
    z-index: 1;
}

.mainSection{
    height: 100vh;
    width: calc(100vw - 200px);
    margin-left: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}