.container {
position: fixed;
top: 0;
left: 0;
width: 200px;
height: 100%;
background-color: rgb(30, 30, 50);
}

.categoryWrapper {
color: aliceblue;
line-height: 40px;
display: flex;
flex-direction: column;
gap: 1px;
background-color: black;
}

.category {
background-color: rgb(30, 30, 50);
text-indent: 10px;
cursor: pointer;
}

.hide {
    display: none;
}

.projectWrapper {
background-color: black;
}

.project {
    height: 40px;

    button {
        background-color: black;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: left;
        text-indent: 20px;
}
}

.logoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}